@import url(
    "https://fonts.googleapis.com/css2?family=Poppins"
);
*{
    font-family: "Poppins";
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F6F8FD;
}
body h3{
    font-weight: bold;
    font-size: 40px;
}
body .form-login{
    background-color: #ffffff;
    padding: 30px;
    border-radius: 30px;

}
body .form-login h3{
    text-align: center;
}
body .form-login input{
    margin-bottom: 20px;
    width: 400px;
    height: 40px;
    padding-left: 20px;
    background-color: aquamarine;
    border: none;
    border-radius: 50px;
}
body .form-login p{
    text-align: right;
    margin-top: 8px;
}
body .form-login p .link-lupa-password{
    text-decoration-style: none;
    color:;
    font-size: 16px;
    font-weight: 400;
}
body .form-login .btn-login{
    width: 100%;
    border: 0px;
    height: 40px;
    border-radius: 50px;
    background-color: #2447f9;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
body .form-login .btn-login img{
    width: 30px;
    height: auto;
}
.lupa a:hover{
    color: red;
}

